.input {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
